.TaskContainer {
  width: calc(100vw - 22vw);
  height: calc(100vh - 23vh);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.TaskContainer .taskWrapper {
  min-width: calc(100vw - 27vw);
  min-height: calc(100vh - 30vh);
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0px 0px 4px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  gap: 1rem;
}
.pen{
    color: #001c55;
}
.delete{
    color: rgb(202, 63, 63);
}
.taskContents{
    width: calc(100vw - 40vw);
    height: auto;
    padding: 2rem;
    box-shadow: 0px 0px 3px grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.taskContents .taskIcons{
    display: flex;
    gap: 10px;
}
.box{
  width: 20px;
  height: 20px;
  border: 1px solid grey;
  
}