.projectsContainer {
  width: calc(100vw - 22vw);
  height: calc(100vh - 23vh);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}        
.projectWrapper{
    width: 90%;
    height: 98%;
    background-color: #fff;
    margin-bottom: 6px;
    border-radius: 10px;
}      
.pCheckBox{
    width: 20px;
    height: 20px;
    outline: none;
    cursor: pointer;

}     
.projectContent{
   min-width: 500px;
   min-height: 400px;
   border: 0.5px solid #0a2472;
   padding: 1rem;
   border-radius: 5px;
}
.projectContent .projectName h3{
    font-size: 30px;
    padding: 5px;
    color: #0a2472;
}
.projectDescription h5{
    line-height: 25px;
    font-size: 17px;
    color: #0a2472;
    padding: 5px;
}
.priority{
    width: 250px;
    height: auto;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ratxs{
    font-size: larger;
    color: rgb(226, 226, 11);
    margin: 3px;

}
.projectDuration .timeSpan{
    display: flex;
    gap: 10px;
    color: #0a2472;
    align-items: center;
    padding: 5px;
}
.state{
    width: 100%;
    color: #0a2472;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.projectIcons{
    font-size: 24px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;

}
