.headerContainer{
    width: calc(100vw - 22vw);
    height: 23vh;
    background-color: #a6e1fa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerContainer .headerWraper{
    width: calc(100vw - 32vw);
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerContainer .headerWraper .DateSession{
    width: 120px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.DateSession .mon_date span{
 margin: 4px;
 font-size: larger;
}
.countdown{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #0e6ba5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.countdown .count span{
    font-size: larger;
    margin: 2px;
}