*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
ul li{
   list-style-type:none;
   text-align: center;
   width: 22vw;
   transition: all 200ms ease-in;
}
.a{
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    font-size: larger;
}
.container{
    width: 22vw;
    height: 100vh;
    background-color: #001c55;
}
.navbar{
    display: flex;
    
    flex-direction: column;
    gap: 2rem;
    padding-top: 4rem;
}
.imageContainer{
    width: inherit;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #3681a1;
    margin-bottom: 2rem;
    gap: .5rem;
}
.imageContainer .image {
  width: 170px;
  height: 160px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px #a6e1fa;
  margin-top: .8rem;
}

.imageContainer .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;/* Scale the image to fit the container while maintaining its aspect ratio*/
  border-radius: inherit;
}
.imageContainer .name{
    color: white ;
    letter-spacing: 1.2px;
}
.active{
    background-color:#a6e1fa ;
    color: #001c55;
    padding: 1rem 0rem;
}